# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DoodleJumpClone.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\alex8\Documents\GitHub\DoodleJumpClone\.idea\.idea.DoodleJumpClone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
